@import "./global.css";

.header {
  text-align: left;
  padding: 20px;
}

.header h1 {
  color: var(--text);
  font-size: 1.3em;
  padding-bottom: 0;
}

.header p {
  color: var(--text-heading);
  margin-top: 6px;
  font-size: 0.85em;
}

.content section {
  margin-bottom: 24px;
}
